.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 10rem;
}

.services-title {
  position: relative;
}

.services-title h1 {
  padding: 0rem 2rem;
  font-size: 4rem;
  font-weight: 600;
}

.services-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.service-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
  padding: 3.5rem;
  border: 2px solid wheat;
  border-radius: 0.6rem;
  cursor: pointer;
  cursor: pointer;
}
