.footer {
  margin: 4rem 8rem;
  margin-bottom: 0;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1.05rem;
  padding: 1.15rem 0;
  width: 45%;
}

.footer-top img {
  width: 7.5rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.15rem 0;
}

.footer-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  font-size: 0.8rem;
  font-family: "Playwrite NZ", cursive;
}

.footer-bottom-right p:hover {
  cursor: pointer;
  text-decoration: 2px solid underline;
}

@media (max-width: 950px) {
  .footer {
    margin: 1rem;
  }

  .footer-top {
    display: none;
  }

  .footer-top img {
    width: 7rem;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .footer-bottom-left {
    font-size: 0.89rem;
  }

  .footer-bottom-right {
    gap: 0.5rem;
    font-size: 0.75rem;
  }
}
